################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SelfService/bin/Debug/TestData/SelfService.xlsx
/SelfService/bin/Debug
/SelfService/obj/Debug
/SelfService/TestData
